# Ignore Virtual Environment
.venv/
venv/
env/

# Ignore Python Cache
__pycache__/
*.pyc

# Ignore VS Code settings
.vscode/

# Ignore Local Models (The big files)
models/
*.gguf

# Ignore OS files
.DS_Store