# Ignore Virtual Environment
.venv/
venv/
env/
.conda/

# Ignore Python Cache
__pycache__/
*.pyc

# Ignore VS Code settings
.vscode/
.idea/

# Ignore Local Models (The big files)
models/
*.gguf
*.bin

# Ignore OS files
.DS_Store
Thumbs.db

# Security
.env
secrets.toml

# Project specifics
vector_db/
chroma_db/
